@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
}


main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.pattern-particle-wave {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background:
fixed linear-gradient(transparent, #070707 95%),
fixed
  repeating-linear-gradient(
    #2b2b2b,
    #2b2b2b 1px,
    transparent 1px,
    transparent 40px
  ),
fixed
  repeating-linear-gradient(
    to right,
    #2b2b2b,
    #2b2b2b 1px,
    transparent 1px,
    transparent 40px
  )
  #070707;
}


